<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafetería</title>
    <link rel="stylesheet" href="../../css/output.css">
</head>

<body>
    <header>
        <img src="../../images/cafe.png" class="coffee-icon" alt="coffee-icon">
        <h1 id="app-title"><a href="index.html">Café</a></h1>
        <nav aria-label="Main navigation panel">
            <input type="checkbox" id="menu">
            <label for="menu" aria-label="Open Menu" id="menu-label">☰</label>
            <ul class="horizontal-list">
                <li><a href="about.html">About us</a></li>
                <li><a href="help.html">How you can help</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="contact.html">Contact us</a></li>
                <li>
                    <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
                        <img src="../../images/facebook.png" class="social-media-icons" alt="Facebook">

                    </a>
                </li>

                <li>
                    <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                        <img src="../../images/instagram.png" class="social-media-icons" alt="Instagram">
                    </a>
                </li>

                <li>
                    <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer">
                        <img src="../../images/youtube.png" class="social-media-icons" alt="YouTube">
                    </a>
                </li>

                <li>
                    <a href="https://www.x.com" target="_blank" rel="noopener noreferrer">
                        <img src="../../images/x.png" class="social-media-icons" alt="X">
                    </a>
                </li>
                <li>
                    <a href="cart.html">
                        <img src="../../images/portavasos.png" alt="Cup Holder" class="cart-icon" id="cart-icon">
                    </a>
                </li>
                <li>
                    <button id="logout-btn">Logout</button>

                </li>


            </ul>
        </nav>
    </header>
    <main>
        <section class="container-principal">
            <section class="container-1">

                <div class="information-container">
                    <h2>More than coffee</h2>
                    <p>It's a place to slow down, connect, and enjoy the simple pleasure of a great cup of coffee.</p>
                </div>


            </section>
        </section>
        </section>
        <section class="container-2">
            <nav aria-label="Products Categories">
                <button id="load-coffee-btn">Coffees</button>
                <button id="load-favorites-btn">Favorites</button>
            </nav>
        </section>
        <section id="products-container" class="container-products">
    </main>
    <script src="../../js/scripts.js"></script>


</body>

</html>