<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafetería</title>
</head>
<body>
    
    <main>

        <div class="header-coffees">
            <h2>Coffee Menu</h2>
        </div>
        <section class="container-coffees">
            <article data-type="coffee" data-id="1">
                <h3>Coffee 1</h3>
                <img src="../../imagesCoffees/latte.png" alt="Latte" class="products-img">
                <p>Price: $10.00</p>
                <button class="favorite-btn"><img src="../../images/favorite.png" alt="Add to favorite"></button>
            </article>
            <article data-type="coffee" data-id="2">
                <img src="../../imagesCoffees/latte.png" alt="Latte" class="products-img">
                <h3>Coffee 2</h3>
                <p>Price: $15.00</p>
                <button class="favorite-btn"></button>
            </article>
            <article data-type="coffee" data-id="3">
                <img src="../../imagesCoffees/latte.png" alt="Latte" class="products-img">
                <h3>Coffee 3</h3>
                <p>Price: $20.00</p>
                <button class="favorite-btn"></button>
            </article>
        </section>
    </main>
</body>
</html>